:root {
  --primary-color: rgb(53, 65, 67);
  --accent-color: rgb(135, 196, 249);
  --text-light: whitesmoke;
  --font-family: "Handlee", cursive;
}

body {
  background-color: var(--primary-color);
}

#title {
  font-family: var(--font-family);
  text-align: center;
  color: var(--text-light);
  transition: color 1s ease;
}

#title:hover #title:focus {
  color: var(--accent-color);
}

#subtitle {
  font-family: var(--font-family);
  text-align: center;
  color: var(--text-light);
}

.card {
  font-family: var(--font-family);
  color: var(--primary-color);
  background-color: var(--text-light);
  width: 30%;
  border-radius: 20px;
  padding: 1px 1px 15px 15px;
  animation: drop-left-effect 3s;
  transition: transform 0.3s ease, background-color 1s ease;
}

.card:hover .card:hover {
  transform: scale(103%);
  background-color: var(--accent-color);
}

.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  animation: drop-down-effect 3s;
}

.container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
  animation: drop-down-effect 3s;
}

#university {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

@keyframes drop-down-effect {
  0% {
    transform: scale(95%) translateY(-200px);
  }
  50% {
    transform: scale(98%);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes drop-left-effect {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .card {
    width: 80%;
  }
  .hero-section {
    flex-direction: column;
    gap: 0;
    margin-bottom: 20px;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
}

.card,
.hero-section,
.container {
  will-change: transform; /* GPU acceleration */
}