body {
  background-color: azure;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 30px;

  align-items: center;
  justify-content: center;

  background-color: rgb(234, 240, 250);

  border-width: 2px;
  border-style: solid;
  border-radius: 5px;

  padding: 0px 20px 0px 20px;
  margin: 10px;
}

header {
  background-color: rgb(234, 240, 250);

  border-width: 2px;
  border-style: solid;
  border-radius: 5px;

  padding: 15px;
  margin: 10px;
}

footer {
  margin: 20px;
}

.link {
  text-decoration: none;
  color: inherit;
}