body {
  background-color: rgb(195, 207, 207);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: rgb(248, 255, 255);

  display: flex;
  gap: 30px;
  align-items: center;

  font-size: 25px;
  font-weight: bold;

  border-style:ridge;
  border-color: black;
  border-width: 2px;

  padding: 15px;
  margin: 5px;
}

header {
  background-color: rgb(248, 255, 255);

  border-width: 2px;
  border-style:groove;

  padding: 0px 20px 20px 20px;
  margin: 5px;

  width: 80%;
}

footer {
  background-color: rgb(248, 255, 255);

  border-width: 2px;
  border-style:groove;

  padding: 0px 20px 20px 20px;
  margin: 5px;
}

a:link, a:visited, a:active {
  color:rgb(96, 137, 137);
  text-decoration: none;
}

a:hover {
  transition: 1s;
  color: rgb(41, 78, 79);
}

#social_media {
  display: flex;
  gap: 20px;

  align-items: center;
}

#center {
  text-align: center;
}