body {
  background-color: azure;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  background-color: rgb(248, 255, 255);

  border-width: 2px;
  border-style: solid;
  border-radius: 15px;

  padding: 0px 20px 20px 20px;
  margin: 10px;
}

#contact {
  margin: 10px;

  text-align: center;
  width: auto;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
}